<div class="pt-5" style="height: 93vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1471623432079-b009d30b6729?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
  <div class="text-center pt-3">
    <%= link_to "Voir la démo", turoriel_path, class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold-white" %>
  </div>
  <div class="container pt-5 mb-5">
    <div class="row pt-5">
      <% if current_user.statut =="Propriétaire" %>
        <div class="col-12 col-md-6 offset-md-3">
          <div class="border p-3"  style="border-radius: 5px; background-color: white; opacity: 0.9; padding: 14px 30px">
            <h3 class="text-center mt-4 border-bottom pb-4 mx-5" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Je suis un propriétaire</h3>
            <div class="d-flex justify-content-center">
              <%= link_to "Accéder à mon compte", companies_path, class:"btn btn-transparent-bold mt-4 mb-4 stretched-link"  %>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user.statut =="Locataire" %>
        <div class="col-12 col-md-6 offset-md-3">
          <div class="border p-3"  style="border-radius: 5px; background-color: white; opacity: 0.9; padding: 14px 30px">
            <h3 class="text-center mt-4 border-bottom pb-4 mx-5" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Je suis un locataire</h3>
            <div class="d-flex justify-content-center">
              <% if @tenant == nil %>
                <h4 class="text-center m-4" style="width: 100%; color:#DA334A; font-style: italic;">"Aucun dossier locataire créé actuellement"</h4>
              <% else %>
                <%= link_to "Voir mon dossier", tenant_path(@tenant), class:"btn btn-transparent-bold  mt-4 mb-4 stretched-link"  %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>