<div class="container my-5">
  <h3 class="text-center">Realbeez tool</h3>
  <div class="row mt-5">
    <% if current_user.statut =="Propriétaire" %>
      <div class="col-12 col-md-6 offset-md-3">
        <div class="border p-3">
          <p>Je suis un propriétaire</p>
          <%= link_to "Voir mes biens", companies_path  %>
        </div>
      </div>
    <% end %>
    <% if current_user.statut =="Locataire" %>
      <div class="col-12 col-md-6 offset-md-3">
        <div class="border p-3">
          <p class="">Je suis un locataire</p>
          <% if @tenant != nil %>
            <%= link_to "Voir mon dossier", tenant_path(@tenant)  %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>