<div class="py-5" style="background-color:">
  <div class="container">
    <h3 class="text-center mt-5 mb-5 hide-on-small">Rbtool - Comment ça marche ?</h3>
    <h3 class="text-center mt-5 mb-5 hide-on-large" style="font-size: 22px">Rbtool - Comment ça marche ?</h3>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 text-justify mb-4">
        <p class="text-center">Facilitez la gestion locative de vos biens immobiliers à l'aide des outils Realbeez.</p>
      </div>
    </div>
    <div class="hide-on-small">
      <div class="d-flex justify-content-center mb-5">
        <iframe width="672" height="378" src="https://www.youtube.com/embed/FZUgxtx_Rc8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="hide-on-large">
      <div class="d-flex justify-content-center mb-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FZUgxtx_Rc8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>