.icon-building-active {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: orange;
  opacity: 1
}

.icon-building {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: orange;
  opacity: 0.3
}

.icon-building:hover {
  opacity: 1;
}

.icon-apartment-active {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: blue;
  opacity: 1
}

.icon-apartment {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: blue;
  opacity: 0.3
}

.icon-apartment:hover {
  opacity: 1;
}

.icon-expense-active {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: green;
  opacity: 1
}

.icon-expense {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: green;
  opacity: 0.3
}

.icon-expense:hover {
  opacity: 1;
}

.icon-charges-active {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: purple;
  opacity: 1
}

.icon-charges {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: purple;
  opacity: 0.3
}

.icon-charges:hover {
  opacity: 1;
}

.icon-liasse-active {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: red;
  opacity: 1
}

.icon-liasse {
  border-radius: 50%;
  width:100px;
  height: 100px;
  background-color: red;
  opacity: 0.3
}


.icon-liasse:hover {
  opacity: 1;
}


